$font-family: 'Open Sans', Arial, sans-serif;
$font-family-second: 'PlayfairDisplay', 'Open Sans', Arial, sans-serif;

$grey_light: #F6F6F6;
$grey: #999999;
$grey_shade: #666666;
$md_grey: #EAEAEA;
$secondary: #FF862F;
$secondary_light: #FFBD59;
$gold: #D5B986;
$bone: #FFF5D1;
$primary: #A65CF0;
$primary_light: #C998FB;
$pink_violet: #EBD1FF;
$primary_shade: #7033AC;
$secondary_shade: #BB370E;
$black: #333333;

$size-main: 16px;
$size-second: 14px;