<%- include('../layout/header.ejs') %>
  <main>
    <section class="product">
      <div class="wrapper breadcrumb">
				<ul class="breadcrumb__list">
					<li class="breadcrumb__element"><a href="#" class="breadcrumb__link">Главная</a></li>
					<li class="breadcrumb__element"><a href="#" class="breadcrumb__link">Каталог</a></li>
					<li class="breadcrumb__element"><a href="#" class="breadcrumb__link">Диваны</a></li>
					<li class="breadcrumb__element"><a href="#" class="breadcrumb__link">Прямые диваны</a></li>
					<li class="breadcrumb__element"><a href="#" class="breadcrumb__link breadcrumb__link_active">D-31</a>
					</li>
				</ul>
			</div>
      <div class="wrapper product__wrapper">
        <div class="product-slider">
          <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
            <div class="swiper-wrapper">
              <div class="swiper-slide mySwiper2__slide">
                <img src="../assets/image/product_5.png" class="mySwiper2__img" alt="Картинка слайдера">
              </div>
              <div class="swiper-slide mySwiper2__slide">
                <img src="../assets/image/product_4.png" class="mySwiper2__img" alt="Картинка слайдера">
              </div>
              <div class="swiper-slide mySwiper2__slide">
                <img src="../assets/image/product_2.png" class="mySwiper2__img"  alt="Картинка слайдера">
              </div>
              <div class="swiper-slide mySwiper2__slide">
                <img src="../assets/image/product_3.png" class="mySwiper2__img"  alt="Картинка слайдера">
              </div>
              <div class="swiper-slide mySwiper2__slide">
                <img src="../assets/image/product_1.png" class="mySwiper2__img"  alt="Картинка слайдера">
              </div>
            </div>
          </div>
        </div>
        <div class="product__mySwiper-wrapp">
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="mySwiper__wrapper">
                  <img class="mySwiper__img" src="../assets/image/product_5.png" alt="Картинка слайдера">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="mySwiper__wrapper">
                  <img class="mySwiper__img" src="../assets/image/product_4.png" alt="Картинка слайдера">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="mySwiper__wrapper">
                  <img class="mySwiper__img" src="../assets/image/product_2.png" alt="Картинка слайдера">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="mySwiper__wrapper">
                  <img class="mySwiper__img" src="../assets/image/product_3.png" alt="Картинка слайдера">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="mySwiper__wrapper">
                  <img class="mySwiper__img" src="../assets/image/product_1.png" alt="Картинка слайдера">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product__name">
          <p class="product__grade rating__label">4,8</p>
          <h1 class="product__name-title">Диван тканевый прямой “D-31”</h1>
          <p class="product__name-description">Мини 120 см без ящика Stark синий (Рогожка)</p>
          <p class="product__name-price">28 490 руб</p>
          <button class="product__name-buy button">Купить в один клик</button>
          <button class="product__name-add">+ Добавить в корзину</button>
        </div>
        <div class="product__description">
          <h2 class="product__description-title">Опорный механизм</h2>
          <p class="product__description-desc">Опорный механизм напоминает пантограф, к которому добавили дополнительную секцию. У опорного дивана сиденье «выпрыгивает» вперёд и вытаскивает вторую часть спального места. Заключительный штрих — опустить спинку.</p>
          <p class="product__description-desc">Этот механизм не портит пол и не боится ковров. Требуется чуть больше силы, чтобы разложить диван, но подросток справится.</p>
          <div class="product__description__img-wrapper">
            <img src="../assets/image/product_main.png" alt="" class="product__description__img">
          </div>
        </div>
        <div class="product__char">
          <ul class="product__char-list">
            <li class="product__char-element">
              <span class="product__char-name">Гарантия</span>
              <span class="product__char-dot"></span>
              <span class="product__char-desc">18 месяцев</span>
            </li>
            <li class="product__char-element">
              <span class="product__char-name">Артикул</span>
              <span class="product__char-dot"></span>
              <span class="product__char-desc">AAA41269004</span>
            </li>
            <li class="product__char-element">
              <span class="product__char-name">Длина</span>
              <span class="product__char-dot"></span>
              <span class="product__char-desc">163 см</span>
            </li>
            <li class="product__char-element">
              <span class="product__char-name">Высота</span>
              <span class="product__char-dot"></span>
              <span class="product__char-desc">90 см</span>
            </li>
            <li class="product__char-element">
              <span class="product__char-name">Глубина</span>
              <span class="product__char-dot"></span>
              <span class="product__char-desc">108 см</span>
            </li>
            <li class="product__char-element">
              <span class="product__char-name">Спальное место</span>
              <span class="product__char-dot"></span>
              <span class="product__char-desc">200 см х 125 см</span>
            </li>
            <li class="product__char-element">
              <span class="product__char-name">Высота посадки</span>
              <span class="product__char-dot"></span>
              <span class="product__char-desc">45 см</span>
            </li>
            <li class="product__char-element">
              <span class="product__char-name">Механизм</span>
              <span class="product__char-dot"></span>
              <span class="product__char-desc">Опорный</span>
            </li>
            <li class="product__char-element">
              <span class="product__char-name">Тип обивки</span>
              <span class="product__char-dot"></span>
              <span class="product__char-desc">Рогожка</span>
            </li>
            <li class="product__char-element">
              <span class="product__char-name">Цвет</span>
              <span class="product__char-dot"></span>
              <span class="product__char-desc">Синий</span>
            </li>
            <li class="product__char-element">
              <span class="product__char-name">Наполнитель</span>
              <span class="product__char-dot"></span>
              <span class="product__char-desc">Независимый пружинный блок</span>
            </li>
            <li class="product__char-element">
              <span class="product__char-name">Материал каркаса</span>
              <span class="product__char-dot"></span>
              <span class="product__char-desc">Металл. рама с дерев. латами</span>
            </li>
            <li class="product__char-element">
              <span class="product__char-name">Количество мест</span>
              <span class="product__char-dot"></span>
              <span class="product__char-desc">Двухместные</span>
            </li>
            <li class="product__char-element">
              <span class="product__char-name">Категория</span>
              <span class="product__char-dot"></span>
              <span class="product__char-desc">Прямые тканевые диваны</span>
            </li>
            <li class="product__char-element">
              <span class="product__char-name">Возврат</span>
              <span class="product__char-dot"></span>
              <span class="product__char-desc">Условия</span>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="similar">
      <div class="wrapper special__wrapper">
        <h2 class="title similar__title">Похожие товары</h2>
        <div class="special__wrapp-but">
          <div class="special__swiper-button-next" tabindex="0">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_663_1759)">
                <circle r="15" transform="matrix(-1 0 0 1 16 16)" stroke="#999999" stroke-width="2"/>
                <path d="M18 11L13 16L18 21" stroke="#999999" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
            </svg>
          </div>
          <div class="special__swiper-button-prev" tabindex="0">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_663_1759)">
                <circle r="15" transform="matrix(-1 0 0 1 16 16)" stroke="#999999" stroke-width="2"/>
                <path d="M18 11L13 16L18 21" stroke="#999999" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
            </svg>
          </div>
        </div>
        <div class="swiper similar__slide">
          <div class="swiper-wrapper">
            <div class="swiper-slide card rating__card">
              <span class="card__label rating__label">4,5</span>
              <img src="../assets/image/catalog_16.png" alt="#" class="card__img rating__img">
              <div class="rating__content">
                <h3 class="card__title rating__title">Диван велюровый “R-85”</h3>
                <div class="card__price-wrapp rating__price-wrapp">
                  <p class="card__price rating__price">34 990 руб</p>
                  <p class="card__discount rating__discount"></p>
                </div>
                <a href="product.html" class="card__buy rating__buy button-trans">Купить</a>
              </div>
            </div>
            <div class="swiper-slide card rating__card">
              <span class="card__label rating__label">4,6</span>
              <img src="../assets/image/catalog_11.png" alt="#" class="card__img rating__img">
              <div class="rating__content">
                <h3 class="card__title rating__title">Диван флоковый “H-58”</h3>
                <div class="card__price-wrapp rating__price-wrapp">
                  <p class="card__price rating__price">23 990 руб</p>
                  <p class="card__discount rating__discount"></p>
                </div>
                <a href="product.html" class="card__buy rating__buy button-trans">Купить</a>
              </div>
            </div>
            <div class="swiper-slide card rating__card">
              <span class="card__label rating__label">4,5</span>
              <img src="../assets/image/catalog_17.png" alt="#" class="card__img rating__img">
              <div class="rating__content">
                <h3 class="card__title rating__title">Диван велюровый “S-44”</h3>
                <div class="card__price-wrapp rating__price-wrapp">
                  <p class="card__price rating__price">19 990 руб</p>
                  <p class="card__discount rating__discount"></p>
                </div>
                <a href="product.html" class="card__buy rating__buy button-trans">Купить</a>
              </div>
            </div>
            <div class="swiper-slide card rating__card">
              <span class="card__label rating__label">4,8</span>
              <img src="../assets/image/rating_7.png" alt="#" class="card__img rating__img">
              <div class="rating__content">
                <h3 class="card__title rating__title">Диван шиниловый “V-43”</h3>
                <div class="card__price-wrapp rating__price-wrapp">
                  <p class="card__price rating__price">19 990 руб</p>
                  <p class="card__discount rating__discount"></p>
                </div>
                <a href="product.html" class="card__buy rating__buy button-trans">Купить</a>
              </div>
            </div>
            <div class="swiper-slide card rating__card">
              <span class="card__label rating__label">5,0</span>
              <img src="../assets/image/rating_1.png" alt="#" class="card__img rating__img">
              <div class="rating__content">
                <h3 class="card__title rating__title">Диван кожаный “R-94”</h3>
                <div class="card__price-wrapp rating__price-wrapp">
                  <p class="card__price rating__price">94 990 руб</p>
                  <p class="card__discount rating__discount"></p>
                </div>
                <a href="product.html" class="card__buy rating__buy button-trans">Купить</a>
              </div>
            </div>
            <div class="swiper-slide card rating__card">
              <span class="card__label rating__label">5,0</span>
              <img src="../assets/image/rating_1.png" alt="#" class="card__img rating__img">
              <div class="rating__content">
                <h3 class="card__title rating__title">Диван кожаный “R-94”</h3>
                <div class="card__price-wrapp rating__price-wrapp">
                  <p class="card__price rating__price">94 990 руб</p>
                  <p class="card__discount rating__discount"></p>
                </div>
                <a href="product.html" class="card__buy rating__buy button-trans">Купить</a>
              </div>
            </div>
            <div class="swiper-slide card rating__card">
              <span class="card__label rating__label">5,0</span>
              <img src="../assets/image/rating_1.png" alt="#" class="card__img rating__img">
              <div class="rating__content">
                <h3 class="card__title rating__title">Диван кожаный “R-94”</h3>
                <div class="card__price-wrapp rating__price-wrapp">
                  <p class="card__price rating__price">94 990 руб</p>
                  <p class="card__discount rating__discount"></p>
                </div>
                <a href="product.html" class="card__buy rating__buy button-trans">Купить</a>
              </div>
            </div>
            <div class="swiper-slide card rating__card">
              <span class="card__label rating__label">5,0</span>
              <img src="../assets/image/rating_1.png" alt="#" class="card__img rating__img">
              <div class="rating__content">
                <h3 class="card__title rating__title">Диван кожаный “R-94”</h3>
                <div class="card__price-wrapp rating__price-wrapp">
                  <p class="card__price rating__price">94 990 руб</p>
                  <p class="card__discount rating__discount"></p>
                </div>
                <a href="product.html" class="card__buy rating__buy button-trans">Купить</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="popup buy-request">
      <div class="popup__wrapp">
        <div class="popup__close">
          <span class="popup__line"></span>
          <span class="popup__line"></span>
        </div>
        <form action="#" class="form">
          <h2 class="buy-request__title">Купить в один клик</h2>
          <p class="buy-request__text">Чтобы оформить заказ — заполните формы ниже и наш менеджер свяжется с вами в течении часа.</p>
          <input type="text" placeholder="Как вас зовут?" class="form__input form__name form__req feedback__input">
          <input type="text" placeholder="Ваш телефон" class="form__input form__req feedback__input" data-phone-pattern>
          <input type="submit" value="Отправить" class="button buy-request__submit">
          <label class="checkbox feedback__agreement">
            <input type="checkbox" class="checkbox__input form__req-check">
            <span class="checkbox__check"></span>
            <span class="checkbox__text">Принимаю <a href="#" class="link">пользовательское соглашение</a></span>
          </label>
        </form>
      </div>
    </div>  
    <div class="popup popup-slider">
      <div class="popup__wrapp">
        <div class="popup__close">
          <span class="popup__line"></span>
          <span class="popup__line"></span>
        </div>
        <div>
          <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper popupMySwiper2">
            <div class="swiper-wrapper">
              <div class="swiper-slide mySwiper2__slide">
                <img src="../assets/image/product_5.png" class="mySwiper2__img" alt="Картинка слайдера">
              </div>
              <div class="swiper-slide mySwiper2__slide">
                <img src="../assets/image/product_4.png" class="mySwiper2__img" alt="Картинка слайдера">
              </div>
              <div class="swiper-slide mySwiper2__slide">
                <img src="../assets/image/product_2.png" class="mySwiper2__img" alt="Картинка слайдера">
              </div>
              <div class="swiper-slide mySwiper2__slide">
                <img src="../assets/image/product_3.png" class="mySwiper2__img" alt="Картинка слайдера">
              </div>
              <div class="swiper-slide mySwiper2__slide">
                <img src="../assets/image/product_1.png" class="mySwiper2__img" alt="Картинка слайдера">
              </div>
            </div>
          </div>
          <div class="swiper popupMySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="mySwiper__wrapper">
                  <img class="mySwiper__img" src="../assets/image/product_5.png" alt="Картинка слайдера">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="mySwiper__wrapper">
                  <img class="mySwiper__img" src="../assets/image/product_4.png" alt="Картинка слайдера">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="mySwiper__wrapper">
                  <img class="mySwiper__img" src="../assets/image/product_2.png" alt="Картинка слайдера">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="mySwiper__wrapper">
                  <img class="mySwiper__img" src="../assets/image/product_3.png" alt="Картинка слайдера">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="mySwiper__wrapper">
                  <img class="mySwiper__img" src="../assets/image/product_1.png" alt="Картинка слайдера">
                </div>
              </div>
            </div>
          </div>
          <div class="popupSpecial__swiper-button-next" tabindex="0">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_663_1759)">
                <circle r="15" transform="matrix(-1 0 0 1 16 16)" stroke="#999999" stroke-width="2"/>
                <path d="M18 11L13 16L18 21" stroke="#999999" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
            </svg>
          </div>
          <div class="popupSpecial__swiper-button-prev" tabindex="0">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_663_1759)">
                <circle r="15" transform="matrix(-1 0 0 1 16 16)" stroke="#999999" stroke-width="2"/>
                <path d="M18 11L13 16L18 21" stroke="#999999" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </main>
  <%- include('../layout/footer.ejs') %>